/*
.dark-primary-color    { background: #0288D1; }
.default-primary-color { background: #03A9F4; }
.light-primary-color   { background: #B3E5FC; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FFEB3B; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }
*/


* {
    box-sizing: border-box;
    //border: 1px solid red;
    padding: 0;
}

body {
    background-color: #B3E5FC;
}

.header, .footer {
    background-color: #0288D1;
}

.header {
    width: 100%;
    //border: 1px solid green;
    margin-bottom: 1rem;
    height: 6.5rem;
}

.header__container {
    height: 6rem;
    text-align: center;
}

.header__cart {
    display: inline-block;
    height: 6rem;
    width: 6rem;
}

.header__list {
    display: inline-block;
    height: 6rem;
    width: 6rem;
}

.line {
    width: 40rem;
    color: #1B5E20;
}
.input {
    text-align: center;
    background-color: #B3E5FC;
}

.input__title {
    text-align: center;
    font-size: 3rem;
    font-family: Muli, sans-serif;
    min-width: 10rem;
    margin: auto;
}

.arrow {
    font-size: 2rem;
}

.input__new {
    font-size: 2rem;
    font-family: Delius, cursive;
    text-align: center;
    background-color: #03A9F4;
    border: 1px solid #03A9F4;
}

.input__add {
    height: 4rem;
    width: 4rem;
    margin: 1rem 0;
    fill: #03A9F4; 
}

.input__add:hover {
    fill: #FFEB3B;
    cursor: pointer;
    height: 5rem;
    width: 5rem;
    margin-bottom: 0;
}

.list {
    max-width: 30rem;
    margin: auto;
    list-style: none;
    text-align: center;
}

.list__items {
    list-style-type: none;
    margin: 0;
    padding: 0.2rem 0;
    //cursor: move;
}

.list__items-need {
    text-align: center;
    max-width: 30rem;
    font-size: 2rem;
    font-family: Delius, cursive;
    margin: 0.5rem 0;
    color: #212121;
}

.list__items-have {
    text-align: center;
    max-width: 30rem;
    font-size: 2rem;
    font-family: Delius, cursive;
    text-decoration: line-through;
    margin: 0.5rem 0;
    color: #212121;
    opacity: 0.5;
}

.trash {
    float: left;
    font-size: 2rem;
}

.trash:hover {
    color: #FFEB3B;
    cursor: pointer;
}

.check {
    float: right;
    font-size: 2rem;
}

.check:hover {
    color: #FFEB3B;
    cursor: pointer;
}

.footer {
    background-color: #0288D1;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer__area {
    height: 4rem;
}