* {
    box-sizing: border-box;
    //border: 1px solid red;
    padding: 0;
}

body {
    background-color: #E8F5E9;
}

.header {
    height: 4rem;
    width: 100%;
    border: 1px solid green;
}

.list {
    width: 30rem;
    margin: auto;
    list-style: none;
    text-align: center;
}


.list__new {
    margin-left: 31.1%;
    text-align: center;
    width: 30rem;
}

.buttons {
    width: 30rem;
    text-align: center;
    margin: auto;
}



.list__need-name {
    text-align: center;
    width: 30rem;
    //border-color: transparent;
}



.list__have-name {
    width: 30rem;
    text-align: center;
    text-decoration: line-through;
}

.add {
    color: #1B5E20;
}

.list__need {
    border-radius: 10px;
}
